* {
  font-family: 'Helvetica', sans-serif;
  font-size: 12pt;
}

.will {
  font-weight: bold;
}

.hit {
  color: green;
}

.miss {
  color: red;
}

#trajectory-controller {
  float: left;
}

#stats-controller {
  float: right;
}

.btn {
  padding: 5px 20px;
  border: 1px solid #444;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;

  text-decoration: none;
  color: #1b1b1b;
}

.btn:hover {
  background-color: #1589FF;
  color: white;
}